<!doctype html>

<?php define('WP_USE_THEMES', false); require('./wp-blog-header.php');?>

<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">

    <script src="https://use.typekit.net/rey3dtk.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    <!-- Use the title from a page's frontmatter if it has one -->


    <title><%= current_page.data.title || "HELLODEARY" %></title>
    <%= stylesheet_link_tag "flexboxgrid.min", :site %>

    <%= javascript_include_tag :all %>
  </head>

  <body>
    <%= partial "header" %>

    <%= yield %>

    <%= partial "footer" %>
  </body>
</html>

<?php require('/wordpress/wp-blog-header.php'); get_header(); ?>
